# Overview

**ETL** : Extract, Transform, Load Project

**Extract**: extract data from different sources, read the data, and store into a dataframe.

**Transform**: clean, structure, and transform the raw data that has been extracted from the sources into a specific schema, so it meets the operation needs.

**Load**: load and store the data into a database for future analysis.

Data Sources:
1. Minimum Wage Data: https://www.kaggle.com/datasets/lislejoem/us-minimum-wage-by-state-from-1968-to-2017

1. Energy Data: https://www.kaggle.com/datasets/lislejoem/us_energy_census_gdp_10-14?resource=download

In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect

# Extract

## Store CSV into DataFrame

In [2]:
#Load in energy data
csv_file_1 = "resources/energy_census_and_economic_data_US_2010-2014.csv"
energy_df = pd.read_csv(csv_file_1)
energy_df.head()

,StateCodes,State,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
0,AL,Alabama,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
1,AK,Alaska,4.0,9.0,1.0,0.0,653221,653637,649341,621107,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
2,AZ,Arizona,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
3,AR,Arkansas,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
4,CA,California,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406

In [3]:
#Load in minimum wage data
csv_file_2 = "resources/minimum_wage_data.csv"
minimum_wage_df = pd.read_csv(csv_file_2,encoding='ISO-8859-1')
minimum_wage_df.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

In [8]:
energy_columns = energy_df.columns

for column in energy_columns:
    print(column)

StateCodes
State
Region
Division
Coast
Great Lakes
TotalC2010
TotalC2011
TotalC2012
TotalC2013
TotalC2014
TotalP2010
TotalP2011
TotalP2012
TotalP2013
TotalP2014
TotalE2010
TotalE2011
TotalE2012
TotalE2013
TotalE2014
TotalPrice2010
TotalPrice2011
TotalPrice2012
TotalPrice2013
TotalPrice2014
TotalC10-11
TotalC11-12
TotalC12-13
TotalC13-14
TotalP10-11
TotalP11-12
TotalP12-13
TotalP13-14
TotalE10-11
TotalE11-12
TotalE12-13
TotalE13-14
TotalPrice10-11
TotalPrice11-12
TotalPrice12-13
TotalPrice13-14
BiomassC2010
BiomassC2011
BiomassC2012
BiomassC2013
BiomassC2014
CoalC2010
CoalC2011
CoalC2012
CoalC2013
CoalC2014
CoalP2010
CoalP2011
CoalP2012
CoalP2013
CoalP2014
CoalE2010
CoalE2011
CoalE2012
CoalE2013
CoalE2014
CoalPrice2010
CoalPrice2011
CoalPrice2012
CoalPrice2013
CoalPrice2014
ElecC2010
ElecC2011
ElecC2012
ElecC2013
ElecC2014
ElecE2010
ElecE2011
ElecE2012
ElecE2013
ElecE2014
ElecPrice2010
ElecPrice2011
ElecPrice2012
ElecPrice2013
ElecPrice2014
FossFuelC2010
FossFuelC2011
FossFuelC2012
FossFuelC2013
FossFuelC2014
GeoC2010
GeoC2011
GeoC2012
GeoC2013
GeoC2014
GeoP2010
GeoP2011
GeoP2012
GeoP2013
GeoP2014
HydroC2010
HydroC2011
HydroC2012
HydroC2013
HydroC2014
HydroP2010
HydroP2011
HydroP2012
HydroP2013
HydroP2014
NatGasC2010
NatGasC2011
NatGasC2012
NatGasC2013
NatGasC2014
NatGasE2010
NatGasE2011
NatGasE2012
NatGasE2013
NatGasE2014
NatGasPrice2010
NatGasPrice2011
NatGasPrice2012
NatGasPrice2013
NatGasPrice2014
LPGC2010
LPGC2011
LPGC2012
LPGC2013
LPGC2014
LPGE2010
LPGE2011
LPGE2012
LPGE2013
LPGE2014
LPGPrice2010
LPGPrice2011
LPGPrice2012
LPGPrice2013
LPGPrice2014
GDP2010Q1
GDP2010Q2
GDP2010Q3
GDP2010Q4
GDP2010
GDP2011Q1
GDP2011Q2
GDP2011Q3
GDP2011Q4
GDP2011
GDP2012Q1
GDP2012Q2
GDP2012Q3
GDP2012Q4
GDP2012
GDP2013Q1
GDP2013Q2
GDP2013Q3
GDP2013Q4
GDP2013
GDP2014Q1
GDP2014Q2
GDP2014Q3
GDP2014Q4
GDP2014
CENSUS2010POP
POPESTIMATE2010
POPESTIMATE2011
POPESTIMATE2012
POPESTIMATE2013
POPESTIMATE2014
RBIRTH2011
RBIRTH2012
RBIRTH2013
RBIRTH2014
RDEATH2011
RDEATH2012
RDEATH2013
RDEATH2014
RNATURALINC2011
RNATURALINC2012
RNATURALINC2013
RNATURALINC2014
RINTERNATIONALMIG2011
RINTERNATIONALMIG2012
RINTERNATIONALMIG2013
RINTERNATIONALMIG2014
RDOMESTICMIG2011
RDOMESTICMIG2012
RDOMESTICMIG2013
RDOMESTICMIG2014
RNETMIG2011
RNETMIG2012
RNETMIG2013
RNETMIG2014

# Transform

In [9]:
#Cleaning Energy Consumption Data
year = []
state = []
energy_consumption = []
gdp = []
biomass_consumption = []
coal_consumption = []
elec_consumption = []
fossfuel_consumption = []
natgas_consumption = []

# work on including more columns.

year_starter = 2010
year_counter = 0


while True:
    for index, row in energy_df.iterrows():
        if (index == 51):
            year.append(year_starter + year_counter)
            state.append(energy_df['State'][index])
            energy_consumption.append(energy_df[f"TotalC{year_starter + year_counter}"][index])
            gdp.append(energy_df[f"GDP{year_starter + year_counter}"][index])
            year_counter += 1
            continue

        else:
            year.append(year_starter + year_counter)
            state.append(energy_df['State'][index])
            energy_consumption.append(energy_df[f"TotalC{year_starter + year_counter}"][index])
            gdp.append(energy_df[f"GDP{year_starter + year_counter}"][index])
    
    if (year_starter + year_counter == 2015):
        break

In [10]:
energy_df_cleaned = pd.DataFrame({
#     'year_state': year_state,
    'year': year,
    'state': state,
    'total_energy': energy_consumption ,
    'gdp': gdp
})

energy_df_cleaned

     year                 state  total_energy          gdp
0    2010               Alabama       1931522    176220.75
1    2010                Alaska        653221     54220.00
2    2010               Arizona       1383531    247333.00
3    2010              Arkansas       1120632    104928.75
4    2010            California       7760629   1960935.00
..    ...                   ...           ...          ...
255  2014         West Virginia        752942     74432.75
256  2014             Wisconsin       1868867    293341.25
257  2014               Wyoming        535612     40875.50
258  2014  District of Columbia        178929    116539.25
259  2014         United States      98385210  17233140.00

[260 rows x 4 columns]

In [ ]:
#Cleaning Minimum Wage Data
# minimum_wage_df_cleaned = minimum_wage_df[['Year', 'State', 'State.Minimum.Wage', 'State.Minimum.Wage.2020.Dollars']].copy()
# minimum_wage_df_cleaned.head()
reduced_min_wage_data_df = minimum_wage_df[['Year', 'State', 'State.Minimum.Wage', 'CPI.Average']].copy()
renamed_min_wage_data_df = reduced_min_wage_data_df.rename(columns={'Year':'year', 'State':'state', 'State.Minimum.Wage': 'state_minimum_wage', 'CPI.Average':'cpi_average'})

cleaned_min_wage_data_df = renamed_min_wage_data_df.loc[  (renamed_min_wage_data_df['year'] > 2009) & (renamed_min_wage_data_df['year'] < 2015)]
cleaned_min_wage_data_df

## Create database connection

In [ ]:
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'energy_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

## Load DataFrames into database

In [ ]:
energy_df_cleaned.to_sql(name='energy_consumption', con=engine, if_exists='append', index=False)

In [ ]:
cleaned_min_wage_data_df.to_sql(name='minimum_wage', con=engine, if_exists='append', index=False)

## Confirm data has been added by querying the DB table

In [ ]:
pd.read_sql_query('select * from energy_consumption', con=engine).head()

In [ ]:
pd.read_sql_query('select * from minimum_wage', con=engine).head()